@model Projekt.Intranet.Models.CMS.TattoArtists

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TattoArtists</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Przydomek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Przydomek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LataDoswiatczenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LataDoswiatczenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specjalizacja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specjalizacja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerKonta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerKonta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTattoArtists">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
