@model Projekt.Intranet.Models.CMS.Tatto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tatto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.Imie +" "+ model.Klient.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TattoArtists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TattoArtists.Imie + " " + model.TattoArtists.Przydomek + " " + model.TattoArtists.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Styl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Styl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTattoo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
