@model IEnumerable<Projekt.Intranet.Models.CMS.Tatto>

@{
    ViewData["Title"] = "Tatto";
}

<div class="table-responsive m-4 col-sm-4 col-lg-12 d-flex justify-content-center">
    <div class="w-75 d-flex flex-column align-items-center">
        <div class="row w-100 mb-3 align-items-center">
            <div class="col text-center">
                <h3 class="mb-0 h2">Tatuaż</h3>
            </div>
            <div class="col-auto ms-auto">
                <a asp-action="Create" class="btn btn-lg btn-dark border-dark btn-outline-light">Dodaj nową</a>
            </div>
        </div>

        <table class="table rounded table-hover table-dark text-md-center">
            <thead>
                <tr class="h4">
                    <th>
                        @Html.DisplayNameFor(model => model.Klient)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TattoArtists)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Styl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cena)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="h5">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @($"{item.Klient.Imie} {item.Klient.Nazwisko}")
                        </td>
                        <td>
                            @($"{item.TattoArtists.Imie} {item.TattoArtists.Przydomek} {item.TattoArtists.Nazwisko}")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Styl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cena)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-md btn-light border-light btn-outline-dark" asp-route-id="@item.IdTattoo">Edit</a> |
                            <a asp-action="Delete" class="btn btn-md btn-light border-light btn-outline-dark" asp-route-id="@item.IdTattoo">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>