@model Projekt.Intranet.Models.Sklep.Produkt

@{
    ViewData["Title"] = "Delete";
}
<div class="container mt-5">
    <div class="card shadow rounded-4">
        <div class="card-header bg-dark text-white rounded-top-4">
            <h2 class="mb-0">Potwierdzenie usunięcia</h2>
        </div>

        <div class="card-body">
            <p class="fs-5">Czy na pewno chcesz usunąć ten rekord?</p>
            <dl class="row mb-4">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nazwa)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nazwa)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Opis)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Opis)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Cena)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Cena)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FotoUrl)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FotoUrl)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IloscMagazynowa)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IloscMagazynowa)</dd>
            </dl>
            <form asp-action="Delete" class="d-flex gap-3">
                <a asp-action="Index" class="btn btn-dark btn-lg border-dark btn-outline-light">Anuluj</a>
                <button type="submit" class="btn btn-dark btn-lg border-dark btn-outline-light">Usuń</button>
            </form>
        </div>
    </div>
</div>